html 
    title Home Page
    block content
    body 
        header 
            a(href = `ScoreBoard`) Score Board 
            a(href = `SeriesInfo`) Series Info
            a(href = `Teams`) Teams
            a(href = `SearchPlayer`) Search Player
            h1 Recent Events
        
        #{data}